
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div>
    <h1> Tickets Reservation View Test </h1>
</div>



@section footer{
    <footer style="position:fixed; bottom:0;">
        &copy; MyETheatre 2022 - Ticket reservations
    </footer>
}

