
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<style>
    body {
        margin: 0px;
        padding: 0px;
        background-color: black;
    }
</style>

<body>
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="text-center my-5" style="background-color:black">
                    <img class="img-fluid rounded-circle mb-4" src="~/Pics/1.jpg" alt="...">
                </div>
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold" style="color: black">My ETheatre</h1>
                    <hr class="divider">
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5" style="color:black">Easier, faster and more reliable way to have a happy audience!</p>
                </div>
                <div class="text-center my-5" style="background-color:black">
                    <img class="img-fluid rounded-circle mb-4" src="~/Pics/3.jpg" alt="...">
                </div>
            </div>
        </div>
    </header>
</body>

@section footer{
    <footer style="position:fixed; bottom:0;">
        &copy; MyETheatre 2022 - Homepage
    </footer>
}

