@model  MyETheatre.Repository.Models.DB.PlayModel
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<style>
    .btns {
        background-color: lightsteelblue;
        margin-top: 10px;
    }
</style>

<section class="w-100 p-4 p-xl-5" style="background-color: rgb(73, 1, 13); border-radius: 0.5rem 0.5rem 0.5rem 0.5rem; --darkreader-inline-bgcolor: #69424a; " data-darkreader-inline-bgcolor="">
    <div>
        <h1>Insert new play</h1>
        @using (Html.BeginForm("Store", "Play", FormMethod.Post))
        {
            <div class="form-group">
                <label>Director</label>
                @Html.TextBoxFor(m => m.Director, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>PlayName</label>
                @Html.TextBoxFor(m => m.PlayName, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Description</label>
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            </div>

            <button type="submit"
                    class="btn" style="margin-top:5px; background-color:black">
                Add play
            </button>
        }
    </div>
</section>

    @section footer{
        <footer style="position:fixed; bottom:0;">
            &copy; MyETheatre 2022 - Theatre plays
        </footer>
    }
