@{
    var controllerName = ViewContext.RouteData.Values["controller"];
    var actionName = ViewContext.RouteData.Values["action"];
}


<!DOCTYPE html>

<html style="background-color: black;>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body style="background-color: black;">
    <main>
        <nav class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-expand-xl navbar-light bg-light rounded" aria-label="Twelfth navbar example" style="margin:0px; padding:0px;">
            <div class="container-fluid" style="background-color: black; padding:0px; margin:0px;">
                <a class="navbar-brand" href="#" style="padding-right:40px;">MyETheatre</a>

                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="/" class="nav-link @if(controllerName.Equals("Home")&&actionName.Equals("Index")){ Write("active");}" aria-current="page">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Play/Index" class="nav-link @if(controllerName.Equals("Play")&&actionName.Equals("Index")){ Write("active");}" aria-current="page">Plays</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Actor/Index" class="nav-link @if(controllerName.Equals("Actor")&&actionName.Equals("Index")){ Write("active");}" aria-current="page">Actors</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Showing/TicketReservations" class="nav-link @if(controllerName.Equals("Ticket")&&actionName.Equals("Index")){ Write("active");}" aria-current="page">Tickets Reservations</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Home/Contact" class="nav-link @if(controllerName.Equals("Home")&&actionName.Equals("Contact")){ Write("active");}" aria-current="page">Contact</a>
                        </li>
                        <li class="nav-item" id="list-item-login">
                            <a href="/UserManagement/Login" class="nav-link @if(controllerName.Equals("UserManagement")&&actionName.Equals("Login")){ Write("active");}" aria-current="page">Login</a>
                        </li>
                        <li id="list-item-logout" class="nav-item">
                            <a class="nav-link" aria-current="page" id="logout">
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            @RenderBody()
        </div>
        @RenderSection("footer")
    </main>

    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/custom/shared/layout1.js"></script>
    <script src="~/Scripts/custom/shared/logout2.js"></script>
</body>
</html>
